:root {
  --primary-color: #1698D9;
  --secondary-color-text: #666;
  --primary-selected-color: #D91667;
}
@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo2.0-Thin.otf") format("opentype");
}
* {
  box-sizing: border-box;
}
.page__body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background: url("../images/bg.png");
}
.page__header {
  color: white;
  font-family: "Exo", sans-serif;
  font-size: 36px;
  text-align: center;
}

.text-color--secondary {
  color: var(--secondary-color-text);
}
.text--secondary {
  color: var(--secondary-color-text);
  font-size: 14px;
}
.text--bold {
  font-weight: bold;
}