@import "./Card/SubHeader.css";
@import "./Card/CardWrapper.css";
@import "./Card/SubText.css";

.cardsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
.card-item {
  margin-left: 20px;
  max-width: 320px;
}
.card {
  position: relative;
  height: 99%;
  text-align: left;
  clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: white;
  overflow: hidden;
  background: url("../images/cat.png") white no-repeat;
  background-position: 70% 170%;
  padding: 0 48px;
}
.card__header {
  font-size: 48px;
  font-weight: bold;
  margin: 5px 0;
}
.card__taste {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.card__count {
  margin: 15px 0 0;
}

.card__gift {
  margin: 5px 0;
}
.card__isHappy {
  margin-top: 0;
}

.card__weight {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 16px;
  bottom: 16px;
  background-color: var(--primary-color);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: white;
  font-size: 21px;
  line-height: 0.9;
}
.card__weight-number {
  font-size: 42px;
}
